{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2019,
    "jsx": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended"
   ],
  "overrides": [
    {
      "files": "**/*.(js|ts|tsx)",
      "rules": {
        "import/no-anonymous-default-export": "off",
        "import/no-named-as-default": "off",
        "quotes": ["error", "single"],
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
